<html>
	<body>
		<form action='' method=post>
			Name: <input type="text" name="name" value="" /><br />
			Borough: <input type="text" name="borough" value="" /><br />
			Cuisine: <input type="text" name="cuisine" value="" /><br />
			Street: <input type="text" name="street" value="" /><br />
			Building: <input type="text" name="building" value="" /><br />
			Zipcode: <input type="text" name="zipcode" value="" /><br />
			GPS Coordinate (lon.): <input type="text" name="coordx" value="" /><br />
			GPS Coordinate (lat.): <input type="text" name="coordy" value="" /><br />
			<input type="file" name="filetoupload" /><br />
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>