<html>
	<head>
		<title>Delete restaurant</title>
	</head>
	<body>
		<form action='' method=post>
			Restaurant_id: <input type="text" name="_id" value="" /><br />
			<input type="submit" value="Delete" />
		</form>
	</body>
</html>