<html>
	<body>

		
		<form action='/search/name' method="POST">
			Name: <input type="text" name="name" value="" />
			
			<input type="submit" value="search by name" />
		</form>
		<br />


		<form action='/search/borough' method="POST">
			Borough: <input type="text" name="borough" value="" />
			
			<input type="submit" value="search by borough" />
		</form>
		<br />


		<form action='/search/cuisine' method="POST">
			Cuisine: <input type="text" name="cuisine" value="" />
			
			<input type="submit" value="search by cuisine" />
		</form>
	</body>
</html>