<html>
	<body>
		<form action="/update" method="post">
			_id: <input type="text" name="restID" value="<%= _id %>" readonly /><br />
			Name: <input type="text" name="name" value="" /><br />
			Borough: <input type="text" name="borough" value="" /><br />
			Cuisine: <input type="text" name="cuisine" value="" /><br />
			Street: <input type="text" name="street" value="" /><br />
			Building: <input type="text" name="building" value="" /><br />
			Zipcode: <input type="text" name="zipcode" value="" /><br />
			GPS Coordinate (lon.): <input type="number" name="coordx" value="" /><br />
			GPS Coordinate (lat.): <input type="number" name="coordy" value="" /><br />
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>